.metadata/                                                                      
RemoteSystemTempFiles/                                                          
.settings/                                                                      
target/                                                                         
.project                                                                        
.classpath                                                                      
.recommenders/ 
